# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Archivos compilados
*.so

# Distribución / empaquetado
build/
dist/
*.egg-info/
.eggs/

# =========================
# Entornos virtuales
# =========================
.venv/
venv/
env/
ENV/

# =========================
# Variables de entorno
# =========================
.env
.env.*

# =========================
# VS Code
# =========================
.vscode/

# =========================
# PyCharm
# =========================
.idea/

# =========================
# Testing
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Logs
# =========================
*.log

# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db

# =========================
# Mongo export/import
# =========================
*.bson
*.json

# =========================
# Archivos temporales
# =========================
tmp/
temp/
*.tmp